@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --ff-inter: "Inter", sans-serif;
  /* dark theme */
  --drk-bg: hsl(230, 17%, 14%);
  --drk-top-bg: hsl(232, 19%, 15%);
  --drk-card-bg: hsl(228, 28%, 20%);
  --drk-gray-txt: hsl(228, 12%, 44%);
  --drk-blue-txt: hsl(230, 17%, 14%);
  /* toggle */
  /* --drk-toggle: */
  /* light theme */
  --lght-bg: hsl(0, 0%, 100%);
  --lght-top-bg: hsl(225, 100%, 98%);
  --lght-card-bg: hsl(227, 47%, 96%);
  --lght-gray-txt: hsl(228, 12%, 44%);
  --lght-blue-txt: hsl(230, 17%, 14%);
  /* toggle */
  --lght-toggle: hsl(230, 22%, 74%);
  /* mutual */
  --green: hsl(163, 72%, 41%);
  --red: hsl(356, 69%, 56%);
}

* {
  box-sizing: border-box;
}

html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  font-family: var(--ff-inter);
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  overflow: hidden;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.summary-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  justify-content: center;
  align-content: center;
  grid-gap: 2rem;
  margin-right: 0;
}

.summary-container div {
  border: 1px solid red;
  max-width: 350px;
  min-height: 250px;
  background-color: var(--lght-card-bg);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.summary-container div p {
    display: block;
}

.summary-container div:nth-child(1) p:nth-child(1) {
    background: url(./images/icon-facebook.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 10% 60%;
    padding: 0rem 2rem;

}
.summary-container div:nth-child(2) p:nth-child(1) {
    background: url(./images/icon-twitter.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 10% 60%;
    padding: 0rem 2rem;

}
.summary-container div:nth-child(3) p:nth-child(1) {
    background: url(./images/icon-instagram.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 10% 60%;
    padding: 0rem 2rem;

}
.summary-container div:nth-child(4) p:nth-child(1) {
    background: url(./images/icon-youtube.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 10% 60%;
    padding: 0rem 2rem;

}

.summary-container div p:nth-child(1) {
    color: var(--lght-gray-txt);
    font-weight: 700;
    font-size: 12px;
    padding-left: 1rem;
    margin: 0;
    margin-bottom: 2rem;
    margin-left: 1.5rem;
}


.summary-container div p:nth-child(2) {
    color: var(--lght-blue-txt);
    font-weight: 700;
    font-size: 48px;
    margin: 0;
}

.summary-container div p:nth-child(3) {
    color: var(--lght-gray-txt);
    text-transform: uppercase;
    margin-top: 0;
    margin-left: 1.5rem;
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 500;
}

.summary-container div p:nth-child(4) {
    color: var(--green);
    font-weight: 700;
    background: url(./images/icon-up.svg);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 10% 60%;
    padding: 0rem 2rem;
    margin-left: 2rem;
    
}

.summary-container div p.neg:nth-of-type(4) {
    color: var(--red);
    background: url(./images/icon-down.svg);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 10% 60%;
    padding: 0rem 2rem;
}


.daily-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  grid-gap: 2rem;
  margin-right: 0;
}

h2 {
  display: inline;
}

.daily-container div {
  border: 1px solid red;
  min-width: 250px;
  min-height: 150px;
  background-color: var(--lght-card-bg);
  border-radius: 5px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
